  .container-todo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 100px;
  }   
   
   .container-login {
      margin: auto;
      display: flex;
      width: 800px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      overflow: hidden;
      background-color: #fff;
    }

.left {
  width: 50%;
  padding: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 50%;
  background: linear-gradient(135deg, #60adff, #002167);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 40px;
  text-align: center;
}

.right img {
  max-width: 180px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.right h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: white;
}

.right p {
  font-size: 16px;
  line-height: 1.4;
  max-width: 80%;
  opacity: 0.95;
  color: white;
}


    h1 {
      color: #007BFF;
      margin-bottom: 10px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 20px;
      align-items: center;
      width: 100%;
    }

    input,
    select {
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
      width: 100%;
    }

    .btn {
      padding: 12px;
      border: none;
      background: linear-gradient(-45deg, #3c46cc, #94ddff, #5897f7, #2d9dbe);
      background-size: 400% 400%;
      animation: gradientFade 6s ease infinite;
      color: white;
      font-weight: bold;
      border-radius: 6px;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.3s ease;
    }

    @keyframes gradientFade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


    .register-link {
      margin-top: 35px;
      text-align: center;
    }

    a {
      color: #007BFF;
      text-decoration: none;
    }

    .register-link a:hover {
      text-decoration: underline;
    }

    .recuperar:hover{
      text-decoration: underline;
    }

    .logo{
      border-radius: 50px;
    }

