<app-nav></app-nav>
<header class="interfaz">
  <div class="header-carousel">

    <button class="arrow left" (click)="prevSlide()">❮</button>
    <div 
      class="slide" 
      *ngFor="let item of headerSlides; let i = index"
      [class.active]="i === headerIndex"
      [style.--slide-image]="'url(' + item.image + ')'"
    >

      <div class="text-box" [class.animate-slide]="i === headerIndex">
        <h1 [innerHTML]="item.text"></h1>

        <button 
          *ngIf="item.buttonText"
          class="slide-btn"
          [routerLink]="item.buttonLink">
          {{ item.buttonText }}
          <span>→</span>
        </button>
      </div>
    </div>

    <button class="arrow right" (click)="nextSlide()">❯</button>

  </div>

  <div class="dots">
    <span 
      *ngFor="let item of headerSlides; let i = index"
      [class.active]="i === headerIndex"
      (click)="headerIndex = i"
    ></span>
  </div>

</header>

    <div class="container" data-aos="fade-up">
    <div class="title" data-aos="fade-down">Módulos y Servicios</div>
    <p data-aos="fade-up">Explora nuestros módulos y descubre todas las funcionalidades que tenemos para ti.</p>
  <div class="modules">
    <div class="module-link" (click)="openModal('subir-reporte')">
      <div class="module" data-aos="fade-up">
        <div class="icon">
          <div class="layer">
            <span></span><span></span><span></span><span></span><span></span>
          </div>
          <i class="bx bx-camera"></i>
        </div>
        <div class="text">Foto Multas</div>
      </div>
    </div>
    <div class="module-link" (click)="openModal('multas')">
      <div class="module" data-aos="fade-up">
        <div class="icon">
          <div class="layer">
            <span></span><span></span><span></span><span></span><span></span>
          </div>
          <i class="bx bx-file"></i>
        </div>
        <div class="text">Multas</div>
      </div>
    </div>
    <div class="module-link" (click)="openModal('pico-placa')">
      <div class="module" data-aos="fade-up">
        <div class="icon">
          <div class="layer">
            <span></span><span></span><span></span><span></span><span></span>
          </div>
          <i class="bx bx-car"></i>
        </div>
        <div class="text">Consulta del <br>Pico y Placa</div>
      </div>
    </div>
    <div class="module-link" (click)="openModal('parking')">
      <div class="module" data-aos="fade-up">
        <div class="icon">
          <div class="layer">
            <span></span><span></span><span></span><span></span><span></span>
          </div>
          <span class="bx" style="font-size: 24px; font-weight: bold;">PAR</span>
        </div>
        <div class="text">Localización de <br>Parqueaderos</div>
      </div>
    </div>
  </div>
</div>

<div class="modal" *ngIf="isModalOpen" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="modal-close" (click)="closeModal()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <div class="modal-image">
      <img [src]="selectedModule?.image" [alt]="selectedModule?.title">
      <div class="fade-overlay"></div>
    </div>
    <div class="modal-body">
      <h2>{{ selectedModule?.title || 'Explora nuestras funciones' }}</h2>
      <p>{{ selectedModule?.description || 'Accede para descubrir todas las herramientas que tenemos para ti.' }}</p>
      <hr>
      <p class="access-text">¡Accede y empieza a usar nuestras funciones!</p>
      <button class="btn-login" (click)="redirectToLogin()">Acceder</button>
    </div>
  </div>
</div>
<div class="pyp-container">
  <div class="pyp-left" data-aos="fade-right">
    <h1>Pico y Placa</h1>
    <h2>Armenia Quindío</h2>

    <p>
      Consulta la información más reciente sobre las restricciones de pico y placa en Armenia,
      Quindío. Mantente informado para evitar multas y contribuir a la movilidad vial.
    </p>

    <button class="pyp-btn" routerLink="/pico-placa">
      <span>→</span> Consultar Ahora
    </button>
  </div>

  <div class="pyp-right" data-aos="fade-left">

    <div class="accordion" data-aos="zoom-in">
      <div class="accordion-header">
        ¿Qué días aplica el pico y placa en Armenia?
        <span class="icon">+</span>
      </div>
      <div class="accordion-body">
        La restricción aplica de lunes a viernes según el último dígito de la placa.
      </div>
    </div>

    <div class="accordion" data-aos="zoom-in" data-aos-delay="100">
      <div class="accordion-header">
        ¿Cuál es el horario de la restricción?
        <span class="icon">+</span>
      </div>
      <div class="accordion-body">
        El horario es generalmente entre 7:00 am – 7:00 pm. Puede variar según la normativa local.
      </div>
    </div>

    <div class="accordion" data-aos="zoom-in" data-aos-delay="200">
      <div class="accordion-header">
        ¿Existen excepciones al pico y placa?
        <span class="icon">+</span>
      </div>
      <div class="accordion-body">
        Sí, hay excepciones para vehículos de emergencia, transporte público, eléctricos
        y aquellos con permisos especiales.
      </div>
    </div>

    <div class="accordion"  data-aos="zoom-in" data-aos-delay="300">
      <div class="accordion-header">
        ¿Dónde puedo consultar mi día de pico y placa?
        <span class="icon">+</span>
      </div>
      <div class="accordion-body">
        Puedes consultar los días actualizados en en apartado consulta del pico y placa de reportelo ya.
      </div>
    </div>

    <div class="accordion" data-aos="zoom-in" data-aos-delay="400">
      <div class="accordion-header">
        ¿Qué pasa si no cumplo con el pico y placa?
        <span class="icon">+</span>
      </div>
      <div class="accordion-body">
        Incumplir la norma puede resultar en multas económicas y sanciones de tránsito.
      </div>
    </div>

  </div>
</div>


<div class="main-container" data-aos="fade-up">
  <div class="header-content" data-aos="fade-down">
    <h1>Plataforma digital para <br><span>Infracciones y Vialidad</span></h1>
    <p>Una solución integral para la gestión de infracciones vehiculares y el acceso a información vial relevante en la región de Quindío. Nuestro objetivo es mejorar la seguridad y la fluidez del tráfico para todos los ciudadanos.</p>
  </div>

  <div class="content-section">
    <div class="sidebar" data-aos="fade-right">
      <div class="sidebar-item" [class.active]="selectedSection === 'infracciones'">
        <div class="icon-placeholder"></div> <h3>Registro de Infracciones</h3>
        <p>Facilita la captura y gestión de infracciones vehiculares de forma eficiente.</p>
      </div>
      <div class="sidebar-item" [class.active]="selectedSection === 'informacionVial'">
        <div class="icon-placeholder"></div> <h3>Consulta de Información Vial</h3>
        <p>Accede a datos actualizados sobre el estado de las vías y normativas.</p>
      </div>
      <div class="sidebar-item" [class.active]="selectedSection === 'integracion'">
        <div class="icon-placeholder"></div> <h3>Integración con Autoridades</h3>
        <p>Conexión directa con organismos de tránsito y seguridad locales.</p>
      </div>
      <div class="sidebar-item" [class.active]="selectedSection === 'notificaciones'">
        <div class="icon-placeholder"></div> <h3>Notificaciones en Tiempo Real</h3>
        <p>Recibe alertas instantáneas sobre novedades viales y estado de infracciones.</p>
      </div>
    </div>

    <div class="main-content" data-aos="fade-left">
      <div class="card" *ngIf="selectedSection === 'infracciones'" data-aos="fade-up">
        <h2>Registro de Infracciones</h2>
        <p>Aquí puedes agregar el contenido específico para el registro de infracciones.</p>

        <div class="image-container ">
          <img src="https://www.armenia.gov.co/wp-content/uploads/1/2025/FOTOS_22_DE_ABRIL_/Intercambiador.jpeg">
        </div>
      </div>
      <div class="card" *ngIf="selectedSection === 'informacionVial'" data-aos="fade-up" data-aos-delay="100">
        <h2>Información vial al alcance de tu mano.</h2>
        <p>
          Los ciudadanos pueden consultar el estado de las vías, cierres, desvíos
          y normativas de tránsito vigentes en Quindío.
        </p>

        <div class="image-container ">
          <img src="https://cronicadelquindio.com/wp-content/uploads/2019/08/120191208070045.jpg">
        </div>
      </div>
      <div class="card" *ngIf="selectedSection === 'integracion'" data-aos="fade-up" data-aos-delay="200">
        <h2>Integración con Autoridades</h2>
        <p>Aquí puedes agregar el contenido específico para la integración con autoridades.</p>

        <div class="image-container">
          <img src="https://i0.wp.com/ciudadregion.com/uploads/2025/10/transito-armenia.jpg?resize=780%2C470&ssl=1">
        </div>
      </div>
      <div class="card" *ngIf="selectedSection === 'notificaciones'" data-aos="fade-up" data-aos-delay="300">
        <h2>Notificaciones en Tiempo Real</h2>
        <p>Aquí puedes agregar el contenido específico para las notificaciones en tiempo real.</p>

        <div class="image-container">
          <img src="https://www.idtq.gov.co/medios/imagenes/Plan_Seguridad_IDTQ.jpg" alt="">
        </div>
      </div>

    </div>
  </div>
</div>
<app-noticias data-aos="fade-up"></app-noticias>
<app-footer></app-footer>