<div class="admin-layout">

  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2>Panel Admin</h2>
    </div>

    <nav class="sidebar-nav">
      <a routerLink="/admin" class="active">📊 Dashboard</a>
      <a routerLink="/gestion-agentes">🧑‍✈️ Gestión de Agentes</a>
      <a routerLink="/reportes">📝 Reportes del Sistema</a>
      <a routerLink="/estadisticas">📈 Estadísticas</a>
      <a routerLink="/calendario">📅 Calendario</a>
      <a routerLink="/configuracion">⚙️ Configuración</a>
      <a routerLink="/login">🚪 Salir</a>
    </nav>
  </aside>

  <!-- CONTENIDO -->
  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>

</div>
