<div class="admin-layout">

  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2>Panel Admin</h2>
    </div>

    <nav class="sidebar-nav">
      <a routerLink="/admin" routerLinkActive="active">
        <i class="fas fa-chart-line"></i>
        Dashboard
      </a>

      <a routerLink="/gestion-agentes" routerLinkActive="active">
        <i class="fas fa-user-shield"></i>
        Gestión de Agentes
      </a>

      <a routerLink="/mapa-reportes" routerLinkActive="active">
        <i class="fas fa-map-marked-alt"></i>
        Mapa de reportes
      </a>


      <a routerLink="/config-admin" routerLinkActive="active">
        <i class="fas fa-cog"></i>
        Configuración
      </a>

      <a routerLink="/login">
        <i class="fas fa-sign-out-alt"></i>
        Salir
      </a>
    </nav>

  </aside>

  <!-- CONTENIDO -->
  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>

</div>