      .container{
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
      }
      
      .reset-container {
        background-color: #fff;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        width: 380px;
        height: auto;
      }

      h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #007BFF;
      }

      .input-group {
        position: relative;
        width: 100%;
      }

      input {
        width: 100%;
        padding: 12px 40px 12px 12px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 14px;
        box-sizing: border-box;
      }

      .eye-icon {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #888;
      }

      .btn-tercero {
        width: 100%;
        padding: 12px;
        background: linear-gradient(-45deg, #3c46cc, #94ddff, #5897f7, #2d9dbe);
        background-size: 400% 400%;
        animation: gradientFade 6s ease infinite;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

    @keyframes gradientFade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
      p {
        text-align: center;
        font-size: 14px;
      }

      .error {
        color: red;
        font-size: 14px;
        display: none;
        margin-top: -5px;
        margin-bottom: 10px;
      }

      .success {
        color: rgb(60, 83, 216);
        font-size: 14px;
        display: none;
        margin-bottom: 10px;
      }

      input{
        width: 100%;
      }

      #resetForm{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }

      a{
        color: #007BFF;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }